/* Container */
.search-ride-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  height: 100vh;
}

/* Logo Section */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.blabla-logo {
  width: 80%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 5px;
}

.heading {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 5px;
}

/* Form Section */
.s-form-container {
  width: 100%; 
  max-width: 600px;
   display: flex; 
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.s-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

.search-btn {
 width: 50%;
  max-width: 200px; /* Add a max width to prevent it from being too wide */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .s-form-container {
    width: 90%;
    padding: 15px;
  }
}