.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: lighter; /* Lighter font as per preference */
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

nput:invalid {
  border: 1px solid red;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 10px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.signup-btn {
  width: 60%;
  align-self: center;
  background-color:  #007bff; /* Green button */
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #0056b3; /* Slightly darker green */
}

.signup-container img {
  margin-bottom: 10px;
}

.signup-container input::placeholder {
  color: #888;
}
